<div class="login-register-form">
    <h1>Register</h1>

    <mat-form-field>
      <input type="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password">
    </mat-form-field>

    <button mat-raised-button color="primary">Login</button>

    <p class="additional">
      Already register? Then simply <ws-url url="login">login</ws-url>
    </p>
  </div>
